<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qurbonlik.uz - qurbonlikni tashkillashtiramiz</title>
    <meta name="msapplication-TileImage" content="https://static.qurbonlik.uz/assets/e331863/images/favicon/ms-icon-144x144.png">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
</head>
<body>

    <!-- MAIN SECTION PART -->
    <div class="container">
        <nav>

            <!-- MENU NAV-BAR -->


            <div class="navbar">
                <div class="logo_img">
                    <img src="/static/css/img/logo-org.png" alt="">
                </div>

                <div class="navigations">
                    <ul class="navigation_items">
                        <li class="navigation_item"><a href="#">Bosh sahifa</a></li>
                        <li class="navigation_item"><a href="#">Qurbonlik risolasi</a></li>
                        <li class="navigation_item"><a href="#">qurbonlik</a></li>
                        <li class="navigation_item"><a href="#">savollar</a></li>
                        <li class="navigation_item"><a href="#">Yangiliklar</a></li>
                        <li class="navigation_item">
                            <a class="language active" href="#">O'z</a>
                            <a class="language" href="#">Ўз</a>
                            <a class="language" href="#">Ru</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- MENU NAV-BAR FINISHED -->

        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <img src="/static/css/img/slider-4-scale.jpg" alt="">
                <div class="slider_captain">
                    <div class="text_slide">
                        <h1 class ='slide1_text'>
                            Aqiqa, nazr yoki marhum nomidan <br> ehson qilmoqchimisiz?
                        </h1>
                        <a href="#">Qurbonlikka buyurtma berish</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/static/css/img/slider-2-scale.jpg" alt="">
                <div class="slider_captain">
                    <div class="text_slide">
                        <h1 class ='slide1_text'>
                            "QURBONLIK-2022" dasturi hisobi 
                        </h1>
                        <a href="#">Batafsil</a>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <img src="/static/css/img/slider-3-scale.jpg" alt="">
                <div  class="slider_captain">
                    <div style="text-align: left;" class="text_slide">
                        <h1 style="text-align: left;" class ='slide1_text'>
                            Qurbonlik haqida 
                            <br>
                            dinimiz ahkomlari qanday?
                        </h1>
                        <a href="#">Qurbonlik risolasi</a>
                    </div>
                </div>
            </div>
            </div>
            <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div> -->
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev button_next"></div>
            <div class="swiper-button-next button_next"></div>
        </div>
        <!-- SLIDER PART FINISHED -->
    </div>

    <!-- SECOND SECTION PART -->

    <section class="second_part section">
        <div class="about">
            <div class="video">
                <video width="100%" height="auto" controls >
                    <source src="https://static.qurbonlik.uz/video/qurbonlik-uz-rolik.mp4" type="video/mp4" alt="video don't work">
                    Ushbu brauzer videoni ko‘rsata olmaydi.
                </video>
            </div>
            <div class="about_text">
                <div class="main_text_about">
                    <h2>Qurbonlik.uz haqida</h2>
                    <p>Maqsadimiz ixlosli xalqimiz hayot tarziga mustahkam o‘rnashgan qurbonlik, aqiqa, nazr qurbonlik va boshqa jonliq so‘yish tadbirlarini boshidan oxirigacha shariatimiz 
                        qonunlari va gigiyena normalariga amal qilgan xolda tashkillashtirish.</p>
                     <a href="#" class="read-more">Batafsil</a>
                </div>
            </div>
        </div>
        <div class="order">
            <div class="order_text">
                <h2>Qurbonlikni tashkillashtiramiz</h2>
                <span class = 'countdown-note'>Aqiqa, nazr yoki marhum nomidan sadaqa qilmoqchimisiz?</span>
            </div>
            <div class="order_btn">
                <a href="#">QURBONLIKKA BUYURTMA BERISH</a>
            </div>
        </div>
          <!-- product_list -->
        <div class="product_list">
            <div class="product_container">
                <div class="product_theme">
                    <h2>Qurbon Xayitiga takliflar</h2>
                </div>
                <div class="products">
                    <ul class="ul">
                        <li class="list first_product">
                            <ul class="pricing_box">
                                <li class="pricing-head">
                                    <h3>Tarif-1: Qoramol</h3>
                                </li>
                                <li class="pricing-rate">
                                    <strong class="price ">3,000,000,00&nbsp;soʻm</strong>
                                </li>
                                <li class="pricing-details">
                                    <div class="pricing-description">
                                        Qoramol (buqa) qurbonlik qilish. Dinimizda bitta qoramolni yetti kishi qurbonlik qilishiga ruxsat bor. Bu dasturda yetti kishi nomidan bitta qoramol qurbonlik qilinadi. 
                                    </div>
                                </li>
                                <li class="pricing-footer">
                                    <a href="/order" class="btn-2 plan-btn-color2-14">Buyurtma</a>
                                </li>
                            </ul>
                        </li>
                        <li class="list">
                            <ul class="pricing_box">
                                <li class="pricing-head">
                                    <h3>Tarif-1: Qoramol</h3>
                                </li>
                                <li class="pricing-rate">
                                    <strong class="price ">3,000,000,00&nbsp;soʻm</strong>
                                </li>
                                <li class="pricing-details">
                                    <div class="pricing-description">
                                        Qoramol (buqa) qurbonlik qilish. Dinimizda bitta qoramolni yetti kishi qurbonlik qilishiga ruxsat bor. Bu dasturda yetti kishi nomidan bitta qoramol qurbonlik qilinadi. 
                                    </div>
                                </li>
                                <li class="pricing-footer">
                                    <a href="/order" class="btn-2 plan-btn-color2-14">Buyurtma</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
         <!-- product_list finished -->
         <section class="testimonials-section pillars-islam">
            <!-- Slider main container -->
            <div class="swiper second_slider">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide slide_box">
                    <div class="text_slider">
                        <h2>“Va biz ularga xohlagan mevalari va go‘shtlarini muhayyo qilib qo‘ydik”</h2>
                        <p>&nbsp;</p>
                        <strong class="name">At-Tur, 22</strong>
                    </div>
                </div>
                <div class="swiper-slide slide_box">
                    <div class="text_slider">
                        <h2>“Ishtahalari tusagan qush go‘shtini olib (aylanib yurarlar)”</h2>
                        <p>&nbsp;</p>
                        <strong class="name">Voqi'a, 21</strong>
                    </div>
                </div>
                <div class="swiper-slide slide_box">
                    <h2>“Go‘shtni tanovvul qilinglar, chunki u terini yorqinlashtiradi, <br> me’dani mustahkamlaydi, va hatto xulqni yaxshilaydi”</h2>
                    <p>&nbsp;</p>
                    <strong class="name">Ali roziyalohu anhu</strong>
                </div>
                <div class="swiper-slide slide_box">
                    <h2>“Go‘sht yetmish xil usulda kuch beradi”</h2>
                    <p>&nbsp;</p>
                    <strong class="name">Az-Zuhri</strong>
                </div>
                </div>
                <!-- If we need pagination -->
                <!-- <div class="swiper-pagination"></div> -->
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev btn_right"></div>
                <div class="swiper-button-next btn_left"></div>
            
            </div>
        </section>
    </section>
    <!-- SECOND SECTION PART FINISHED -->

 
<!-- MAIN SECTION PART FINISHED -->

<!-- FOOTER PART -->

<footer class="footer">
    <div class="footer_container">
        <div class="brief_information row">
            <h3>Qurbonlik.uz</h3>
            <p>
                Maqsadimiz ixlosli xalqimiz hayot tarziga mustahkam o‘rnashgan qurbonlik, 
                aqiqa, nazr qurbonlik va boshqa jonliq so‘yish tadbirlarini boshidan oxirigacha 
                shariatimiz qonunlari va gigiyena normalariga amal qilgan xolda tashkillashtirish.
            </p>
        </div>
        <div class="definitions row">
            <h3>Tariflar</h3>
            <div class="tagcloud">
                <a href="/uz/qurbonlik/tarif-1">Tarif-1: Qoramol</a>
                <a href="/uz/qurbonlik/tarif-2">Tarif-2: Qo‘y</a>
            </div>
        </div>
        <div class="sections row">
            <h3>Bo'limlar</h3>
            <ul class="quick-links">
                <li>
                    <a href="#">
                        <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;Qurbonlik risolasi                                
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;Qurbonlik                                
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;Savollar                                
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;Yangiliklar                                
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;Foydalanish shartlari                                
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;To'lovni qaytarish                                
                    </a>
                </li>
            </ul>
        </div>
        <div class="connect row">
            <h3>Aloqa</h3>
            <address>
                <ul>
                    <li>
                        Toshkent sh. Chilonzor, Muqimiy 178                            
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <a href="tel:+998901220070">+998 90 122-00-70</a>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <a href="tel:+998903222882">+998 90 322-28-82</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-envelope"></i>
                        <a href="mailto:info@qurbonlik.uz">info@qurbonlik.uz</a>
                    </li>
                    <li>
                        <i class="fa fa-globe"></i>
                        <a href="http://www.qurbonlik.uz/">www.qurbonlik.uz</a>
                    </li>
                </ul>
            </address>
        </div>
    </div>
    <div class="footer_end">
        <div class="end_part">
            <div class="footer_text">
                <p class="pull-left">Qurbonik.uz © 2017-2022 &nbsp;&nbsp;All Rights Reserved</p>
            </div>
            <div class="social_icons">
                <ul class="list-unstyled pagination social" id="social-links">
                    <li>
                        <a target="_blank" href="https://t.me/qurbonlik_uz" class="telegram"><i class="fa fa-paper-plane"></i></a>
                    </li>
                    <li>
                        <a target="_blank" href="https://www.facebook.com/qurbonlik/" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>




<!-- FOOTER PART FINISHED -->






    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script>
        const swiper = new Swiper('.swiper', {
        autoplay:{
             delay: 5000,
             disableOnInteraction: false,
        },
        loop: true,

        pagination: {
            el: '.swiper-pagination',
            clickable:true,
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        });


    </script>
</body>
</html>