<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qurbonlik.uz - qurbonlikni tashkillashtiramiz</title>
    <meta name="msapplication-TileImage" content="https://static.qurbonlik.uz/assets/e331863/images/favicon/ms-icon-144x144.png">
    <link rel="stylesheet" href="/static/css/to_order.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <header>
        <nav>
            <!-- MENU NAV-BAR -->
            <div class="navbar-main">
                <div class="logo_img">
                    <img src="/static/css/img/logo-org.png" alt="">
                </div>

                <div class="navigations">
                    <ul class="navigation_items">
                        <li class="navigation_item"><a href="#">Bosh sahifa</a></li>
                        <li class="navigation_item"><a href="#">Qurbonlik risolasi</a></li>
                        <li class="navigation_item"><a href="#">qurbonlik</a></li>
                        <li class="navigation_item"><a href="#">savollar</a></li>
                        <li class="navigation_item"><a href="#">Yangiliklar</a></li>
                        <li class="navigation_item">
                            <a class="language active" href="#">O'z</a>
                            <a class="language" href="#">Ўз</a>
                            <a class="language" href="#">Ru</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="containers">
            <div class="about_product__container">
                <div class="about_product">
                    <div class="img">
                        <div class="frame">
                            <img src="/static/css/img/460_460_80_1653781037.jpg" alt="">
                        </div>
                    </div>
                    <div class="about_product__text">
                        <div class="text-box">
                            <h3>Tarif-2: Qo‘y</h3>
                            <strong class="price ">2,900,000 сўм</strong>

                            <div class="product-description">
                                <p>Қўй &nbsp;қурбонлик қилиш. Динимизда битта қўй бир киши номидан (ёки 10та - қўй 10 киши номидан) қурбонлик қилинади. Бу дастурда бир киши хисобидан - битта қўй қурбонлик қилинади.</p>
                                <p>Қурбонлик учун ўртача <strong>30 килограммли</strong> қўйлар олинади.</p>
                                <p>Бир ҳисса нархи <strong>2,900,000 (икки миллион тўққиз&nbsp;юз &nbsp;минг)</strong> сўм. Бу нарх қўй танлаб сотиб олиш, сўйиш, музлатгичларга олиб келиб тиндириш (гўштдаги зарарли хусусиятларни йўқотиш ва пакетларда хидланиб қолмаслиги учун), гўштни парчалаб, қоғоз қутиларга қадоқлаш ва байрамнинг иккинчи ва учинчи кунлари етказиб бериш ишларини ўз ичига олади.</p>
                                <p><strong>Эслатма: ақиқа, назр, садақа ниятида хам Қурбон ҳайити куни қўчқор сўйишингизга Муқаддас Динимиз рухсат беради.</strong></p>
                                <p><em>Ўз Қурбонлик гўштларидан эхсон учун ажратмоқчи бўлган саховатли инсонлар гўштларини “Мехрли қўллар” фонди орқали мухтож оилаларга, мадраса талабаларига етқазамиз.</em></p>                        
                            </div>
                            <p>Ўз Қурбонлик гўштларидан эхсон учун ажратмоқчи бўлган саховатли инсонлар гўштларини “Мехрли қўллар” фонди орқали мухтож оилаларга, мадраса талабаларига етқазамиз.</p>

                            <p>ДИҚҚАТ !!!</p>
                            <p>1. Карантин сабабли бу йилги Қурбонлик дастуримизда хам махсус буюртма билан қилинадиган қурбонликларни бекор қилишга мажбур бўлдик.</p>
                            <p>2. Хар йилгидай буюртмачиларимизни кушхонага таклиф хам қила олмаймиз, сабаби тиқилинчда карантин қоидаларига амал қилиб бўлмайди.</p>
                            <p>3. Агар Карантин талаблари Хукумат қарори билан кучайтирилиб, қурбонлик ишларини бажаришнинг иложи бўлмай қолса, июль ойи охиригача олинган пуллар эгаларига қайтарилади.</p>
                            <p>СИЗ УЙДА ҚОЛИНГ, Биз қурбонликларингизни масофадан хал қилиб берамиз.</p>
                            <p>Телеграм каналимиз : <a href="https://t.me/qurbonlik_uz" target="_blank" rel="noopener">@qurbonlik_uz</a></p>
                            <p>Интернет саҳифамиз : <a href="https://qurbonlik.uz">Qurbonlik.uz</a></p>
                            <p>FB саҳифамиз: <a href="https://www.facebook.com/qurbonlik/">https://www.facebook.com/qurbonlik/</a></p>
                            <p>Мурожаат учун тел: <a href="tel:+998901220070" target="_blank" rel="noopener">+998901220070</a>&nbsp;<a href="tel:+998903222882">+998903222882</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="client_forms mt-30">
                <div class="container">
                    <div class="forms mt-5 ">
                        <h1 class="text-center">Buyurtma berish</h1>
                    <hr>
                    <form id="order_form" class="xs-contact-form" action="/api/orders" method="post" data-pjax="1">
                        <input type="hidden" name="_csrf-frontend" value="AhalKMYA8ZIvg9_r0xPgBL34FX1QPtZoKdvxBNnTYi9tL51f_mvI5nf2hbi0J4dyxY0iHgoI4VAYi79GveAudg==">
                    <div class="row">
                        <div class="col-md-12 comment-form ">
                            <div class="row">
                                 <div class="col col-md-6">
                                     <div class="form-group field-standardorderform-name required">
                                        <label class="control-label" for="standardorderform-name">Ism-familiyangiz</label>
                                            <input type="text" id="standardorderform-name" class="form-control" name="name" aria-required="true">

                                                 <p class="help-block help-block-error"></p>
                                     </div>                                        
                                     <div class="form-group field-standardorderform-telephone required">
                                         <label class="control-label" for="standardorderform-telephone">Telefon raqamingiz</label>
                                         <input type="text" id="standardorderform-telephone" class="form-control" name="phone" aria-required="true">

                                         <p class="help-block help-block-error"></p>
                                    </div>                                        
                                    <div class="row">
                                         <div class="col col-md-6">
                                             <div class="form-group field-standardorderform-intention required">
                                                <label class="control-label" for="standardorderform-intention">Qurbonlik niyati</label>
                                                     <select id="standardorderform-intention" class="form-control" name="type_qurbonlik" aria-required="true">
                                                        <option value="1">Vojib qurbonlik</option>
                                                        <option value="2">Nazr</option>
                                                        <option value="3">Aqiqa</option>
                                                        <option value="4">Marhum nomidan sadaqa</option>
                                                    </select>

                                                    <p class="help-block help-block-error"></p>
                                            </div>                                            
                                          </div>
                                    <div class="col col-md-6">
                                        <div class="form-group field-standardorderform-qty">
                                            <label class="control-label" for="standardorderform-qty">Buyurtmadagi xissalar soni</label>
                                            <input type="number" id="standardorderform-qty" class="form-control" name="xissa" value="1" disabled="">

                                            <p class="help-block help-block-error"></p>
                                        </div>                                            
                                    </div>
                                    </div>
                                    <div class="form-group field-standardorderform-donation">
                                        <label class="control-label" for="standardorderform-donation">"Mehrli Qo'llar" xayriya jamiyatiga ajratiladigan ehson miqdori</label>
                                        <div class="input-group">
                                            <input type="number" id="standardorderform-donation" class="form-control" name="mehrli_qollar" value="0" placeholder="">
                                            <span class="input-group-addon"><input value="1" name="mehrli_qollar_all" class="hidden" type="checkbox" id="donate_all">
                                                <label class="label" for="donate_all"><i class="icon icon_radio"></i>Barchasi</label>
                                            </span>
                                        </div>
                                        <p class="help-block help-block-error"></p>
                                    </div>
                                </div>
                                <div class="col col-md-6">
                                    <div id="address_area">
                                        <label class="control-label">Buyurtmani eltib berish manzili</label>
                                        <div class="row">
                                            <div class="col col-md-6">
                                                <div class="form-group field-shipping_district">

                                                    <select id="shipping_district" class="form-control" name="address_shaxar" onchange="setRegion()">
                                                        <option value="tashkent">Toshkent shaxri</option>
                                                    </select>

                                                    <p class="help-block help-block-error"></p>
                                                </div>                                                
                                            </div>
                                    <div class="col col-md-6">
                                        <div class="form-group field-shipping_region">

                                            <select id="shipping_region" class="form-control" name="address_tuman" value="0"></select>

                                            <p class="help-block help-block-error"></p>
                                        </div>                                                
                                    </div>
                                        </div>
                                    <div class="form-group field-standardorderform-address">
                                        <label class="control-label" for="standardorderform-address">Manzil</label>
                                        <input type="text" id="standardorderform-address" class="form-control" name="address" placeholder="Ko'cha, uy">

                                        <p class="help-block help-block-error"></p>
                                    </div>
                                    <div id="address_top" style="display:none">
                                        <span>
                                                Barcha go'sht miqdori xayriyaga ajratilganligi uchun manzil kiritish talab etilmaydi
                                        </span>
                                    </div>

                                    </div>
                                    <div class="form-group field-standardorderform-comment">
                                        <label class="control-label" for="standardorderform-comment">Buyurtmaga izohingiz</label>
                                        <input type="text" id="standardorderform-comment" class="form-control" name="description">

                                        <p class="help-block help-block-error"></p>
                                        </div>
                                        <div class="form-group field-standardorderform-captcha">
                                        <label class="control-label" for="standardorderform-captcha">Tasdiqlov kodi</label>
                                        <div class="row">
                                            <div class="col col-md-3 col-sm-4 col-xs-6">
                                                <div class="captcha-wrapper">
                                                    <img id="standardorderform-captcha-image" src="/static/css/img/captcha.png" alt="">
                                                </div>
                                            </div>
                                                <div class="col col-md-9 col-sm-8 col-xs-6">
                                                    <input type="text" id="standardorderform-captcha" class="form-control" name="capcha" placeholder="Rasmdagi kodni kiriting">
                                                </div>
                                        </div>

                                        <p class="help-block help-block-error"></p>
                                        </div>                                    
                                    </div>
                            </div>
                            <div id="address_location" style="display:block">
                                <div class="form-group field-standardorderform-location">
                                    <label class="control-label" for="standardorderform-location">Yetkazib berish lokatsiyasini belgilang</label><input type="hidden" id="standardorderform-location" class="form-control" name="StandardOrderForm[location]">
                                    <div id="map" style="width: 100%; height: 420px"></div>
                                </div>                                
                            </div>
                            <table class="table order_summary">
                                <tbody>
                                    <tr>
                                        <td>Buyurtmadagi xissalar soni</td>
                                        <td id="order_qty">1 ta</td>
                                    </tr>
                                    <tr>
                                        <td>Tahminiy vazn</td>
                                        <td id="order_weight">30 kg</td>
                                    </tr>
                                    <tr>
                                        <td>"Mehrli Qo'llar" xayriya jamiyatiga ajratiladigan ehson miqdori</td>
                                        <td id="order_donation"> kg</td>
                                    </tr>
                                    <tr>
                                        <td>Buyurtma narxi</td>
                                        <td id="order_price">2,900,000,00&nbsp;soʻm</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                            <h4></h4>
                            </div>
                            <hr>
                            <div class="text-right">
                                <input type="submit" name="submit" value="Buyurtma qilish">
                            </div>

                        </div>
                    </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials-section pillars-islam">
        <!-- Slider main container -->
        <div class="swiper second_slider">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide slide_box">
                <div class="text_slider">
                    <h2>“Va biz ularga xohlagan mevalari va go‘shtlarini muhayyo qilib qo‘ydik”</h2>
                    <p>&nbsp;</p>
                    <strong class="name">At-Tur, 22</strong>
                </div>
            </div>
            <div class="swiper-slide slide_box">
                <div class="text_slider">
                    <h2>“Ishtahalari tusagan qush go‘shtini olib (aylanib yurarlar)”</h2>
                    <p>&nbsp;</p>
                    <strong class="name">Voqi'a, 21</strong>
                </div>
            </div>
            <div class="swiper-slide slide_box">
                <h2>“Go‘shtni tanovvul qilinglar, chunki u terini yorqinlashtiradi, <br> me’dani mustahkamlaydi, va hatto xulqni yaxshilaydi”</h2>
                <p>&nbsp;</p>
                <strong class="name">Ali roziyalohu anhu</strong>
            </div>
            <div class="swiper-slide slide_box">
                <h2>“Go‘sht yetmish xil usulda kuch beradi”</h2>
                <p>&nbsp;</p>
                <strong class="name">Az-Zuhri</strong>
            </div>
            </div>
            <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div> -->
        
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev btn_right"></div>
            <div class="swiper-button-next btn_left"></div>
        
        </div>
    </section>
</section>
<!-- SECOND SECTION PART FINISHED -->


<!-- MAIN SECTION PART FINISHED -->

<!-- FOOTER PART -->

<footer class="footer">
<div class="footer_container">
    <div class="brief_information row">
        <h3>Qurbonlik.uz</h3>
        <p>
            Maqsadimiz ixlosli xalqimiz hayot tarziga mustahkam o‘rnashgan qurbonlik, 
            aqiqa, nazr qurbonlik va boshqa jonliq so‘yish tadbirlarini boshidan oxirigacha 
            shariatimiz qonunlari va gigiyena normalariga amal qilgan xolda tashkillashtirish.
        </p>
    </div>
    <div class="definitions row">
        <h3>Tariflar</h3>
        <div class="tagcloud">
            <a href="/uz/qurbonlik/tarif-1">Tarif-1: Qoramol</a>
            <a href="/uz/qurbonlik/tarif-2">Tarif-2: Qo‘y</a>
        </div>
    </div>
    <div class="sections row">
        <h3>Bo'limlar</h3>
        <ul class="quick-links">
            <li>
                <a href="#">
                    <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;Qurbonlik risolasi                                
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;Qurbonlik                                
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;Savollar                                
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;Yangiliklar                                
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;Foydalanish shartlari                                
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-arrow-right"></i> &nbsp;&nbsp;To'lovni qaytarish                                
                </a>
            </li>
        </ul>
    </div>
    <div class="connect row">
        <h3>Aloqa</h3>
        <address>
            <ul>
                <li>
                    Toshkent sh. Chilonzor, Muqimiy 178                            
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <a href="tel:+998901220070">+998 90 122-00-70</a>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <a href="tel:+998903222882">+998 90 322-28-82</a>
                </li>
                <li>
                    <i class="fa-solid fa-envelope"></i>
                    <a href="mailto:info@qurbonlik.uz">info@qurbonlik.uz</a>
                </li>
                <li>
                    <i class="fa fa-globe"></i>
                    <a href="http://www.qurbonlik.uz/">www.qurbonlik.uz</a>
                </li>
            </ul>
        </address>
    </div>
</div>
<div class="footer_end">
    <div class="end_part">
        <div class="footer_text">
            <p class="pull-left">Qurbonik.uz © 2017-2022 &nbsp;&nbsp;All Rights Reserved</p>
        </div>
        <div class="social_icons">
            <ul class="list-unstyled pagination social" id="social-links">
                <li>
                    <a target="_blank" href="https://t.me/qurbonlik_uz" class="telegram"><i class="fa fa-paper-plane"></i></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/qurbonlik/" class="facebook"><i class="fa-brands fa-facebook-f"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</footer>




<!-- FOOTER PART FINISHED -->






<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="/static/js/main.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
    autoplay:{
         delay: 5000,
         disableOnInteraction: false,
    },
    loop: true,

    pagination: {
        el: '.swiper-pagination',
        clickable:true,
    },

    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
    },
    });


</script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>